{% extends "base.html" %}

{% block content %}

<p>

Crack Detection User interface project
<br></br>
For adding new images, click 'Images'
For adding new datasets, click 'Datasets'
<br></br>
Usage:
<br></br>
Firstly, user should add new mages to image 
gallery. After then, different sets of images,
which is called as 'datasets' can be created. 
<br></br>
After datasets are successfully created, images
on these datasets can be sent to calculation
service. Click 'Calculations', then select one
or more algorithms to calculate. 
<br></br>
Note:Algorithms are 
predefined. New algorithms will be developed 
soon.

</p>

{% endblock %}